
.header {
  background-color:  rgb(232, 139, 63);
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.head{
    margin-left: 20px;
}
.header a{
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 25px;
}
.footer{
  background-color: rgb(232, 139, 63);
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  
}
.footer h3{
  padding: 1.5%;
  margin-top: 0;
  text-align: center;
}
.img{
    display: block;
    width: 100%;
    height: 80vh;
}

.img1{
  width: 90%;
}
